.card-container {
  box-shadow: #0000003d 0px 3px 8px;
  width: 300px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3.5rem;
  border-radius: 10px 10px 5px 5px;
  cursor: pointer;
}

.video-container {
  width: 100%;
  border-radius: 10px 10px 0 0;
  margin-top: -14px;
  min-height: 150px;
}

.card-info {
  border-radius: 0 0 5px 5px;
}

.video-title {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  margin: 5px 0;
  color: #5C2DBF;
  word-wrap: break-word;
  padding: 0 10px;
}

.video-tags {
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .card-container {
        width: 200px;
      }
      
      .video-title {
        font-size: 15px;
        
      }
      
      .video-tags {
        font-weight: 600;
        font-size: 14px;
      }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .card-container {
        width: 250px;
      }
      
      .video-title {
        font-size: 15px;
        
      }
      
      .video-tags {
        font-weight: 600;
        font-size: 14px;
      }
}   

/* @media only screen and (max-width: 658px){

    .card-container {
        width: 200px;
      }
      
      .video-title {
        font-size: 15px;
        
      }
      
      .video-tags {
        font-weight: 600;
        font-size: 13px;
      }

} */

/* @media only screen and (max-width: 710px){
    .card-container {
        width: 250px;
       
      }
      
      .video-title {
        font-size: 15px;
        
      }
      
      .video-tags {
        font-weight: 600;
        font-size: 14px;
      }
      
} */