*{
    margin: 0;
    padding: 0;
}

.card-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8.5rem;
}

.no-result{
    text-align: center;
    margin-top: 7rem;
}

.no-result > img {
    width: 300px;
    height: 300px;
}

.no-result > p {
    font-size: 1.8rem;
    color: #5C2DBF;
    font-weight: 600;
    margin-top: 1rem;
}


@media screen and (min-width: 320px) and (max-width: 480px) {
    .no-result > p {
        font-size: 1.2rem;
        color: #5C2DBF;
        font-weight: 600;
        margin-top: 1rem;
    }

    .no-result > img {
        width: 180px;
        height: 170px;
    }
    
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    .no-result > p {
        font-size: 1.5rem;
        color: #5C2DBF;
        font-weight: 600;
        margin-top: 1rem;
    }

    .no-result > img {
        width: 210px;
        height: 200px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .no-result > p {
        font-size: 1.8rem;
        color: #5C2DBF;
        font-weight: 600;
        margin-top: 1rem;
    }

    .no-result > img {
        width: 260px;
        height: 260px;
    }
}

